@charset "utf-8";

/* lucideのオーバーライド */
.large {
    .lucide {
        width: var(--font-size-large);
        height: var(--font-size-large);
    }
}
.medium {
    .lucide {
        width: var(--font-size-common);
        height: var(--font-size-common);
    }
}
.small {
    .lucide {
        width: var(--font-size-small);
        height: var(--font-size-small);
    }
}
